<div id="welcome">
  <h1>Welcome to The Oddjob Matchmaker</h1>
  <h2>A site for flexible people who have and/or want little (or big) jobs to do.</h2>

  <br><br><br><br>
  <p>         <%= link_to "Browse available jobs or add or your own!", jobs_path %>                <%= link_to "Look for good people, or get your name out there!", workers_path %>         </p>
<div>
