<h1>Available Workers:</h1>



<% if @workers.any? %>
<ul>
  <% @workers.each do |worker| %>
  <li><%= link_to worker.name, worker_path(worker) %><%=worker.created_at%></li>
  <% end %>
</ul>
<% else %>
<p>There are no workers yet.</p>
<% end %>


<p><%= link_to "Add your worker", new_worker_path %></p>

<p><%= link_to "Return To Home Page", root_path %></p>
