body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,40,32,1) 6%, rgba(0,212,255,1) 100%);

  font-family: monospace;
}

ul {
  list-style: none;
  text-align: center;
}

h1  {
  margin-left: 250px;
  font-style: bold;
}

.form {
  text-align: center;
}

.visible {
  color: rgb(2,0,36);
}
